body {
    background-color: rgb(239, 161, 161);
}

.mainheading {
    color: rgb(174, 42, 42);
    background-color: rgb(242, 176, 176);
    padding: 20px;
    margin: 20px 100px;
    font-size: 40px;
    text-align: center;
}

.content {
    margin: 10px 120px;
    font-size: 120%;
}

a {
    color:rgb(191, 55, 55);
}